* > p:last-of-type {
  margin-bottom: 0px;
}

/**
 * Containers and spacing
 */
body {
  min-height: 100vh;
}

header {
  padding: 1em 10em;
  margin-bottom: 2em;
}
header nav {
  height: 50px;
}

main {
  margin-bottom: 2em;
}
main article {
  margin-bottom: 2em;
  padding: 0.5em 0;
}

article section {
  padding: 0 10em;
}

article .heading,
article .content,
article .details{
  margin-bottom: 2em;
}
article .details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article .details ul li {
  display: inline-block;
  /* padding-right: 0.5em;
  margin-right: 0.5em;
  border-style: solid;
  border-color: #d7e2fa;
  border-width: 0 1px 0 0; */
}
article .details ul li:last-child {
  /* margin: 0;
  padding: 0;
  border-width: 0; */
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0.5em 10em;
}
footer p {
  width: 100%;
  text-align: center;
}

/**
 * Fonts
 */

article .content p {
  margin-bottom: 0;
}

article .details p{
  font-size: 0.8em;
}
article .details ul,
article .details li,
footer p {
  font-size: 0.9em;
}

/**
 * Color
 */
body {
  background-color: #fffbf6;
}
header {
  background-color: #d7e2fa;
}
main > section {
  background-color: #fff;
}
main > article {
  background-color: #fff;
}
footer {
  background-color: #d7e2fa;
}